body {
    background-color:rgb(93, 108, 140);
}

#lienzo {
    width: 500px;
    height: 500px;
    border: 3px black solid;
    background-color: azure;
    display:flex;
    justify-content: center;
    align-items: center;
}

#cara {
   width: 80%;
    height: 80%;
    border: 1px black solid;
    border-radius: 50%;
    background-color: rgb(116, 181, 181); 
    position:relative
}

.ojo {
    background-color: black;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    position:absolute;
    top:30%;
    border: 10px 
}

#ojoderecho {
    right:10%;
}

#ojoizquierdo {
    left: 10%;
}

#nariz {
    background-color: rgb(158, 201, 236);
    border-radius: 50%;
    width:15%;
    height: 15%;
    position:absolute;
    top: 40%;
    right: 45%;
}

#boca {
  width: 13rem;
  height: 7rem;
  background-color: #1a1b1b;
  border-radius: 10rem 10rem 0 0;
  transform:rotate(180deg);
  position:absolute;
  top: 65%;
  right:25%;

}

#luna {
    --size: 70px;
  --offset: 96%;
  --x: 70%;
  --y: 50%;

  background: rgb(45, 49, 102);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  mask-image: radial-gradient(
    circle calc(var(--size) * 0.45) at var(--x) var(--y),
    transparent var(--offset),
    black calc(var(--offset) + 1%)
  );
  position:absolute;
  right: 40%;
  top:5%;
}

.ojos2 {
    background-color: rgb(116, 181, 181); 
    width: 15%;
    height: 15%;
    border-radius: 50%;
    position:absolute;
    top:30%;
    border: 10px 
}

#ojoderecho2 {
    right:10%;
    top: 40%;
}

#ojoizquierdo2 {
    left: 10%;
    top: 40%;
}